footer {
  background-color: #161f24;
}

footer .content {
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding: 50px 0;
}

footer .content > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

footer .content > section:first-of-type {
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 100px;
}

footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

footer .socials a {
  margin-right: 15px;
}

footer .badges {
  margin-top: 30px;
}

footer .badges .clutch-widget {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: white;
}

footer .logo h1 {
  font-weight: 400;
  color: white;
}

footer nav {
  display: none;
}

footer nav a {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

footer .email {
  margin-bottom: 10px;
  padding-left: 35px;
  background-image: url('/images/mail.svg');
  background-repeat: no-repeat;
  background-position: 0 center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

footer .offices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
}

footer .offices article {
  margin-right: 60px;
  margin-bottom: 20px;
  padding-left: 35px;
  background-image: url('/images/academy/location.svg');
  background-position: 1px center;
  background-size: 15px 20px;
  background-repeat: no-repeat;
}

footer .offices article:last-of-type {
  flex-basis: 100%;
}

footer .offices h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

footer .offices p {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 0;
}

@media screen and (max-width: 959px) {
  footer {
    height: auto;
  }

  footer .content {
    display: block;
    padding: 45px 20px 25px;
  }

  footer .content > section {
    display: block;
  }

  footer .content > section:first-of-type {
    padding-left: 0;
  }

  footer nav {
    display: none;
    margin-top: 30px;
  }

  footer nav a {
    font-size: 14px;
    line-height: 2.14;
  }

  footer p {
    margin-top: 10px;
    font-size: 11px;
  }

  footer section:nth-of-type(2) {
    padding-top: 35px;
  }

  footer .offices {
    margin-top: 15px;
  }
}
