.get-in-touch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 0;
  background-image: url('../images/branded-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.get-in-touch > .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}

.get-in-touch .text {
  max-width: 640px;
}

.get-in-touch .text h1 {
  text-align: left;
  color: white;
}

.get-in-touch .text p {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.get-in-touch button {
  flex: 0 1 300px;
  height: 60px;
  border: solid 2px #ffffff;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15);
  background-color: #ed4240;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .get-in-touch > .content {
    flex-direction: column;
    justify-content: center;
  }

  .get-in-touch .text h1 {
    text-align: center;
  }

  .get-in-touch .text p {
    text-align: justify;
  }

  .get-in-touch button {
    flex: none;
    margin-top: 20px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 639px) {
  .get-in-touch {
    height: 270px;
  }

  .get-in-touch .text p {
    font-size: 14px;
    line-height: 1.43;
  }

  .get-in-touch button {
    width: 180px;
    height: 48px;
    font-size: 16px;
    line-height: 1.88;
  }
}
