header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 2px solid #f5f6fb;
}

header .menu a {
    box-sizing: border-box;
    padding: 0 20px 10px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    color: #3d474b;
}

header .menu a.active {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 3px;
    border-image-source: linear-gradient(to left, #46dcc0, #52a6c4);
    border-image-slice: 1;
}

header .menu button.contact-us {
    margin-left: 30px;
    padding: 6px 22px;
    background-color: #ed4240;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

header .mobile-menu {
    display: none;
}

.secondary-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 50px;
}

a.language {
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    color: #3d474b;
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
    header {
        padding: 0 40px;
    }

    header nav, .secondary-header {
        padding: 25px 20px;
    }
}

@media screen and (max-width: 959px) {
    header {
        padding: 0 20px;
    }

    header .logo img {
        width: 24px;
    }

    header .logo h1 {
        font-size: 15px;
    }

    header nav {
        padding: 25px 10px;
    }

    .secondary-header {
        padding: 25px 10px 0;
    }

    header nav a {
        font-size: 15px;
    }
}

@media screen and (max-width: 859px) {
    header .menu {
        display: none;
    }

    header .mobile-menu {
        display: block;
        position: relative;
    }

    header .mobile-menu div {
        position: absolute;
        right: -20px;
        top: 28px;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 280px;
        padding: 15px 0 30px;
        border-radius: 5px;
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
        background-color: white;
    }

    header .mobile-menu a {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding-left: 30px;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #3d474b;
        line-height: 50px;
        text-align: left;
        text-decoration: none;
    }

    header .mobile-menu a.active {
        background-color: #e6ecef;
    }

    header .mobile-menu hr {
        width: 220px;
        margin: 15px auto 0;
        border: 1px solid #f5f6fb;
    }

    header .mobile-menu .contact-us {
        width: 180px;
        height: 50px;
        margin-top: 30px;
        background-color: #ed4240;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
    }

}