.course-intro {
    background-image: url("../static/images/academy/course-intro-bg.png");
}

.course-intro:last-of-type {
    height: 550px;
    background-image: url("../static/images/academy/kyiv-bg-full.png");
}

.media {
    display: block;
}

.media .video-large {
    margin-bottom: 0;
}

.offline-events {
    padding: 120px 0 80px;
    background-color: #f6fafc;
}

.offline-events h1 {
    margin-bottom: 40px;
}

.offline-events > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.offline-events article {
    box-sizing: border-box;
    flex: 0 1 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
    margin: 0 20px 40px;
    padding: 36px 20px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 13px 0 rgba(218, 225, 228, 0.6);
    background-image: url("../static/images/academy/offline-event-card.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.offline-events article > div:first-child {
    padding: 0 20px;
}

.offline-events article h3 {
    margin-bottom: 10px;
    text-align: left;
}

.offline-events article p {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #3d474b;
}

.offline-events article .date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.offline-events article .date img {
    margin-right: 20px;
}

.offline-events article .date h5 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3d474b;
}

.offline-events article > h3 {
    margin-bottom: 16px;
    opacity: 0.7;
    font-weight: 600;
    text-align: center;
    color: #7c7c7c;
}

.offline-events article a {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #ed4240;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.slots-left {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ed4240;
}

.slots-left span {
    font-size: 22px;
}