.illustration {
  padding-top: 80px;
  background-image: url('/images/illustration-bg.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #3d474b;
}

.illustration h3 {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
}

.illustration img {
  margin-top: -40px;
  width: 100%;
}

.illustration img.mobile {
  display: none;
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .illustration h3 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.67;
  }

  .illustration .content {
    padding: 0 40px;
  }
}

@media screen and (min-width: 481px) and (max-width: 959px) {
  .illustration .content {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .illustration .content {
    padding: 0 10px;
  }

  .illustration h3 {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.67;
  }

  .illustration img.common {
    display: none;
  }

  .illustration img.mobile {
    display: block;
    margin-top: 50px;
  }
}
