.insights .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 60px;
}

.insight {
    box-sizing: border-box;
    flex: 0 1 530px;
    margin-bottom: 50px;
    padding: 50px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
}

.insight h3 {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #ffffff;
}

.insight p, .insight span {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}

.insight p {
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.insight span {
    text-transform: uppercase;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {    
    .insights .content {
        margin-top: 20px;
        padding: 0 20px;
    }

    .insight {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 639px) {
    .insight {
        height: fit-content;
        padding: 20px 20px 25px;
    }

    .insight h3 {
        font-size: 20px;
        font-weight: 600;
    }

    .insight p, .insight span {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.43;
    }
}