main > section {
    padding-top: 110px;
}

.read-more {
    border: none;
    outline: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    color: #52a6c4;
    cursor: pointer;
}

/* Partners */

.partners > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.partners img {
    width: auto;
    height: 65px;
    margin: 0 35px 20px;
}

/* Contact */

.contact {
    padding: 150px 0;
}

.contact button {
    display: block;
    width: 420px;
    height: 60px;
    margin: 0 auto;
    border: none;
    outline: none;
    background-color: #ed4240;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 960px) and (max-width: 1899px) {
    main > section {
        padding: 80px 0;
    }

    main h1 {
        font-size: 32px;
        line-height: 1.31;
    }

    .read-more {
        font-size: 14px;
        line-height: 2.14;
    }
}

@media screen and (max-width: 959px) {
    main > section {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .read-more {
        font-size: 13px;
        line-height: 2.31;
    }

    .partners img {
        height: 50px;
        margin: 0 25px 20px;
    }

    .contact {
        padding: 100px 0;
    }

    .contact button {
        width: 180px;
        font-size: 16px;
    }
}

@media screen and (max-width: 639px) {
    .partners img {
        height: 35px;
    }
}