.profit {
    margin-bottom: 100px;
}

.profit > div {
    position: relative;
    max-width: 580px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 12px 20px 0 rgba(218, 225, 228, 0.5);
}

.profit h2 {
    position: absolute;
    left: 50%;
    top: -4px;
    z-index: 10;
    padding: 0 15px;
    transform: translateX(-50%);
    background-color: white;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    white-space: nowrap;
    color: #3d474b;
}

.profit ul {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 35px;
    border-style: solid;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #46dcc0, #52a6c4);
    border-image-slice: 1;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: justify;
    color: #3d474b;
}

.profit ul li:before {
    width: 6px;
    height: 10px;
    margin-right: 10px;
    content: "x";
    color: transparent;
    background-size: 100% 100%;
    background-image: url("../../static/images/academy/course-bullet-red.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 959px) {
    .profit h2 {
        top: 0;
        font-size: 20px;
    }

    .profit ul {
        font-size: 15px;
        line-height: 1.86;
    }
}

@media screen and (max-width: 639px) {
    .profit {
        padding: 0 10px;
    }

    .profit ul {
        padding: 35px 20px;
    }
}